@{
    ViewBag.Title = "Index";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/index.css" />
    @Scripts.Render("~/bundles/mainmoviejquery")
    <script type="text/javascript">
        $(function () {
            getAllGenres();
        })
    </script>
</head>

<div id="overlay" onclick="off()">
    <div class="row">
        <div class="col-md-8">
            <div id="overlayBox" onclick="off()" class="card text-white flex-md-row shadow-sm ">
                <div class="card cardpadding card-body d-flex flex-column align-items-Start">
                    <div class="row">
                        <div id="1movieImg" class="">
                            <img class="card align-content-md-start - img - left flex - auto d - none d - lg - block" alt='image' src="http://static.rogerebert.com/uploads/movie/movie_poster/mi-5-2015/large_MI-5-2015.jpg">
                        </div>
                        <div class="col">
                            <strong id="movieTitle" class=" h1 mb-2 text-white font-weight-bold align-top"></strong>
                            <p id="1movieSummary" class="h2 card-text mb-auto text-white font-weight-light ">"re macat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                            <a class="align-content-lg-center">
                                <div class="row3 align-bottom margin-b">
                                <a id="buy" class="h3 btn card-text btn-outline-light btn-lg ">Add to cart</a>
                                <a id="Back" class="h3 btn card-text btn-outline-light btn-lg ">Back</a>
                                <a id="moviePrice" class="mb-1 h3 card-text text-white font-weight-light align-content-end"></a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mainPage" class="row height100 bgblack overflow">
    <div id="sideNav"class="col-xl-1 col-lg-2 col-md-2 col-sm-2">
        <div id="genre-list" class="list-group-mine list-group ">
            <a class="list-group-item list-group-item-action active" href="#Genre1">Action</a>
            <a class="list-group-item list-group-item-action" href="#Genre2">Comedy</a>
            <a class="list-group-item list-group-item-action" href="#Genre3">Documentary</a>
            <a class="list-group-item list-group-item-action" href="#Genre4">Drama</a>
            <a class="list-group-item list-group-item-action" href="#Genre5">Horror</a>
            <a class="list-group-item list-group-item-action" href="#Genre6">Romance</a>
            <a class="list-group-item list-group-item-action" href="#Genre7">Sci-Fi</a>
            <a class="list-group-item list-group-item-action" href="#Genre8">Western</a>
        </div>
    </div>
    <div data-spy="scroll" data-target="#genre-list" id="MovieContainer" class="col-xl-11 col-lg-10 col-md-10 col-sm-10 padding-0 bgblack height100 overflow ">

    </div>
</div>
