@{
    ViewBag.Title = "Index";
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript">
        $(function () {
            $("#MovieList").click(function () {
                document.getElementById("overlay").style.display = "block";
            });

            $.ajax({
                url: '/Home/getAllGenresController',
                type: 'GET',
                dataType: 'json',
                success: function (genre) {
                    ShowDropdown(genre);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        
           $("#drop").change(function () {
                var id = $(this).val();
                $.ajax({
                    url: '/Home/getMoviesFromGenre/' + id,
                    type: 'GET',
                    dataType: 'json',
                    success: function (imageMovies) {
                        ListMovies(imageMovies);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            });
            
        })
        function ShowDropdown(genre) {
            var utStreng = "";
            for (var i in genre) {
                utStreng += "<option value='" + genre[i].id + "'>" + genre[i].title + "</option>";
            }
            $("#drop").append(utStreng);
        }
        function ListMovies(imageMovie) {
            var utStreng = "";
            for (var i in imageMovie) {
                utStreng += "<div class='card cardPadding'><img src='" + imageMovie[i].imageURL + "' alt='image'/></div>"
            }
            $("#MovieList").html(utStreng);

        }

        function on() {
            document.getElementById("overlay").style.display = "block";
        }

        function off() {
            document.getElementById("overlay").style.display = "none";
        }
    </script>
</head>
<style>
        #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        cursor: pointer;
        }
    #overlayBox{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    }
</style>
    <div id="overlay" onclick="off()">
        <div id="overlayText">

        </div>
    </div>

    <div class="row height100">

        <div class="col-md-2 padding-0 primaryDark height100">
            <nav class="navbar sticky">
                <ul class="navbar-nav">
                    <li class="nav-item text-center">
                        <a class="nav-link" href="#">Action</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="#">Comedy</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="#">Documentary</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="#">Drama</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="#">Horror</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="#">Romance</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="#">Sci-Fi</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="#">Western</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-10 padding-0 primaryDark height100">

            <div id="dropDown">
                <select id="drop"></select>
            </div>
            <div id="MovieList" class="scrolling-wrapper"></div>

        </div>

    </div>