@{
    ViewBag.Title = "Index";
}

<head>


    <link rel="stylesheet" type="text/css" href="~/Content/index.css" />
    @Scripts.Render("~/bundles/mainmoviejquery")
    <script type="text/javascript">
        $(function () {
            getAllGenres();
        })
    </script>
</head>

<div id="overlay" onclick="off()">
    <div class="cont">
        <div class="col-lg-8 col-md-10 col-sm-10 height-auto">
            <div class="row height-auto">
                <div id="movieImg" class="col-xl-4 col-lg-5 col-md-4 col-sm-2 col-1 height100">
                    <img src="/Images/lotr.jpg" />
                </div>
                <div class="col-xl-8 col-lg-7 col-md-8 col-sm-9 col-11 height-auto">
                    <div class="d-flex flex-column height25">
                        <h3 id="movieTitle"></h3>
                    </div>
                    <div class="d-flex flex-column height50">
                        <p id="movieSummary"></p>
                    </div>
                    <div class="d-flex flex-column height10">
                        <p id="moviePrice"></p>
                    </div>
                    <div class="d-flex flex-column height15">
                        <button type="button" id="buy" class="btn btn-warning">Add to cart</button>
                        <button type="button" id="alreadyBought" class="btn btn-success">Download</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mainPage" class="row height100 bgblack overflow">
    <div id="sideNav"class="col-xl-1 col-lg-2 col-md-2 col-sm-2">
        <div id="genre-list" class="list-group-mine list-group ">
            <a class="list-group-item list-group-item-action active" href="#Genre1">Action</a>
            <a class="list-group-item list-group-item-action" href="#Genre2">Animation</a>
            <a class="list-group-item list-group-item-action" href="#Genre3">Comedy</a>
            <a class="list-group-item list-group-item-action" href="#Genre4">Drama</a>
        </div>
    </div>
    <div data-spy="scroll" data-target="#genre-list" id="MovieContainer" class="col-xl-11 col-lg-10 col-md-10 col-sm-10 padding-0 bgblack height100 overflow ">

    </div>
</div>
