@{
    ViewBag.Title = "Index";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/index.css" />
    @Scripts.Render("~/bundles/mainmoviejquery")
    <script type="text/javascript">
        $(function () {
            getAllGenres();
        })
    </script>
</head>

<div id="overlay" onclick="off()">
        <div id="overlayBox" onclick="off()" class="d-inline-flex">
            <div class="d-inline-flex flex-column ">
                <div class="d-flex flex-row">
                    <div id="1movieImg" class="d-flex width100  align-content-start">
                        <img id="2movieImg" class="d-flex width100" alt='image' src="http://static.rogerebert.com/uploads/movie/movie_poster/mi-5-2015/large_MI-5-2015.jpg">
                    </div>
                    <div class="d-flex flex-column">
                        <strong id="movieTitle" class="d-flex h1 mb-2 text-white font-weight-bold">Title</strong>
                        <p id="1movieSummary" class="d-flex textColor-White  flex-md-fill">
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        </p>
                            <div class="d-flex flex-row">
                                <a id="buy" class=" d-flex h3 btn card-text btn-outline-light btn-lg ">Add to cart</a>
                                <a id="Back" class="d-flex h3 btn card-text btn-outline-light btn-lg ">Back</a>
                                <a id="moviePrice" class="d-flex mb-1 h3 card-text text-white font-weight-light align-content-end"></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div id="mainPage" class="row height100 bgblack overflow">
    <div id="sideNav" class="col-xl-1 col-lg-2 padding-0 bgblack height100 overflow">
         <nav class="navbar sticky">
             <ul class="navbar-nav">
                    <li class="nav-item text-left ">
                        <a class="nav-link" href="#Genre1">Action</a>
                    </li>
                    <li class="nav-item text-left">
                        <a class="nav-link" href="#Genre2">Comedy</a>
                    </li>
                    <li class="nav-item text-left">
                        <a class="nav-link" href="#Genre3">Documentary</a>
                    </li>
                    <li class="nav-item text-left">
                        <a class="nav-link" href="#Genre4">Drama</a>
                    </li>
                    <li class="nav-item text-left">
                        <a class="nav-link" href="#Genre5">Horror</a>
                    </li>
                    <li class="nav-item text-left">
                        <a class="nav-link" href="#Genre6">Romance</a>
                    </li>
                    <li class="nav-item text-left">
                        <a class="nav-link" href="#Genre7">Sci-Fi</a>
                    </li>
                    <li class="nav-item text-left">
                        <a class="nav-link" href="#Genre8">Western</a>
                    </li>
             </ul>
         </nav>
    </div>
    <div id="MovieContainer" class="col-xl-11 col-lg-10 padding-0 bgblack height100 overflow">
        
    </div>
</div>
