@{
    ViewBag.Title = "Cart";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/cart.css" />
    @Scripts.Render("~/bundles/cartjquery")
    <script type="text/javascript">
        $(function () {
            IsLoggedIn();
            GetMovies();
        });
        $(function () {
             $("#confirmBuy").click(function () {
                  document.location = '@Url.Action("Buy","AddToCart")';
             });
        });
    </script>

</head>

<div id="CartContent" class="row">
    <div class="col-lg-6 offset-3">
        <div class="row">
            <table id="cartTable" class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Movie</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody id="cartTableInput"></tbody>
            </table>

            <div class="d-flex flex-column height15">
                <button type="button" id="confirmBuy" class="btn btn-warning">Buy</button>
                <p id="pleaseLogInText">You must be logged in to buy movies!</p>
            </div>
        </div>
        


    </div>
    
</div>
