
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */



html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.darkerPrimary {
    background-color: #232323;
}

.height100 {
    height: 100%;
}

.liSpacing {
    padding-left: 30px;
    padding-right: 30px; 
}

.marginLeft {
    margin-left: 2.7%;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    }

  .card {
    display: inline-block;
    
    }

::-webkit-scrollbar {
    display: none;
}

.cardPadding {
    padding-left: 5px;
    padding-right: 5px;
}

.card {
    background: transparent;
    border: 0;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}



.bgblack {
    background-color: #191919;
}
#sideNav {
    border-right: 2px solid;
    border-color: #0c0c0c;
    padding-left: 0;
    padding-right: 0;
}

.list-group-mine .list-group-item {
    background-color: #191919;
    color: #e2e2e2;
}

    .list-group-mine .list-group-item:hover {
        background-color: #232323;
    }

    .list-group-mine .list-group-item.active {
        background-color: #232323;
        border-color: #232323;
    }

.navbar-nav li a {
    color: #e2e2e2;
}

.maxSize {
    max-width: 100%;
}

#mainPage {
    border-top: 1px solid;
    border-color: #0c0c0c;
}

#MovieContainer {
    padding-left: 10px;
    padding-right: 30px;
}

.genreHeaders {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 5px;
    font-size: 2em;
    color: #e2e2e2;
}

.imageBorderTopBottom {
    border-top: 2px solid;
    border-color: #0c0c0c;
    border-bottom: 2px solid;
    padding-top: 15px;
    padding-bottom: 15px;
    border-color: #0c0c0c;
    margin-bottom: 30px;
}
 h2 {
    color: white;
   
}

.textColor-White {
    color: white;
}
 .overflow {
     overflow: auto;
 }
 img {
    background: transparent;
    width:100%;
    height:auto;
}
.card-body {
    padding-top: 0rem;
    padding-right:5rem;
    padding-left:0rem;
    padding-bottom:0rem;
}
#movieprice {
font-weight:100;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 1000000;
    cursor: pointer;
}

#overlayBox {
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    border-radius: 1px;
    top: 50%;
    left: 50%;
    font-size: 8rem;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    max-width: 50%;
    max-width: 50%;
}

#cartTable {
    background-color: transparent;
}

#CartContent {
    padding-top: 50px;
}


.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}


.height30 {
    height: 30%;
}

.height10 {
    height: 10%;
}

.height15 {
    height: 15%;
}

.height50 {
    height: 50%;
}

.height25 {
    height: 25%;
}

.height-auto {
    height: auto;
    overflow: hidden;
}
.card img {
    max-width: 200px;
}