
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

* {
    margin: 0;
}

.margin-b {
    margin-bottom: 0;
}

.padding-0 {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.body-content {
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.primaryDark {
    background-color: #858383;
}
.darkerPrimary {
    background-color: #232323;
}
.elementYellow {
    color: #eeeeee;
}

.height100 {
    height: 100%;
}

.liSpacing {
    padding-left: 30px;
    padding-right: 30px; 
}

.marginLeft {
    margin-left: 2.7%;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    }

  .card {
    display: inline-block;
    
    }

::-webkit-scrollbar {
    display: none;
}

.cardPadding {
    padding-left: 5px;
    padding-right: 5px;
}

.card {
    background: transparent;
    border: 0;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.nav-link {
font-size: 1em;
}
.social-card-header {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 96px;
}

    .social-card-header i {
        font-size: 32px;
        color: #FFF;
    }

.bg-facebook {
    background-color: #3b5998;
}

.text-facebook {
    color: #3b5998;
}

.bg-google-plus {
    background-color: #dd4b39;
}

.text-google-plus {
    color: #dd4b39;
}

.bg-twitter {
    background-color: #1da1f2;
}

.text-twitter {
    color: #1da1f2;
}

.bg-pinterest {
    background-color: #bd081c;
}

.text-pinterest {
    color: #bd081c;
}

.share:hover {
    text-decoration: none;
    opacity: 0.8;
}

.bgblack {
    background-color: #191919;
}
#sideNav {
    border-right: 2px solid;
    border-color: #0c0c0c;
}

.navbar-nav li a {
    color: #e2e2e2;
}

.maxSize {
    max-width: 100%;
}

#MovieContainer {
    padding-left: 10px;
    padding-right: 30px;
}

.genreHeaders {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 5px;
    font-size: 2em;
    color: #e2e2e2;
}

.imageBorderTopBottom {
    border-top: 2px solid;
    border-color: #0c0c0c;
    border-bottom: 2px solid;
    padding-top: 15px;
    padding-bottom: 15px;
    border-color: #0c0c0c;
    margin-bottom: 30px;
}
 h2 {
    color: white;
   
}

.textColor-White {
    color: white;
}
 .overflow {
     overflow: auto;
 }
 img {
     background: transparent;
 }